---
import LayoutV2 from '../components/LayoutV2.jsx';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Layout V2 - Shop Prototype</title>
	</head>
	<body>
		<LayoutV2 client:load />
	</body>
</html>
