---
import LayoutV3 from '../components/LayoutV3.jsx';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Layout V3 - Shop Prototype</title>
	</head>
	<body>
		<LayoutV3 client:load />
	</body>
</html>
